* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #161513;
  color: white;
  font-family: "Outfit";
  overflow-x: hidden;
}

/*width*/
body::-webkit-scrollbar {
  width: 5px;
}

/*thumb*/
body::-webkit-scrollbar-thumb {
  background: rgb(75, 80, 88);
  border-style: solid;
  border-radius: 10px;
}
